.framework1-breadcrumb {
    display: flex;
      flex-wrap: wrap;
      padding-left: 10px;
      padding-bottom: .65em;
      list-style: none;
      font-size: 0.75rem;
      margin-top: -0.25rem !important;
  }
  .framework1-breadcrumb-item {
    line-height: 18px;
    text-transform: capitalize;
    color: #414042;
    font-family: 'Roboto-Bold-webfont';
    font-size: 14px;
  
    > a {
      color: #5edbd1;
      font-family: 'Roboto-Bold-webfont';
      text-decoration: none !important;
  
      // &:hover {
      //   text-decoration: underline;
      // }
    }
  
    > .chevron {
      height: 18px;
      width: 18px;
      font-size: 18px;
      vertical-align: middle;
      user-select: none;
    }
  }
  .link{
    cursor: pointer;
  }
  