<div class="card">
    <div class="col-md-12">
        <h1 class="header mb-0 pl-1 mb-1">Update User</h1>
        <breadcrumb></breadcrumb>
    </div>
    <div class="card-body pt-3">
        <form name="form1" #users="ngForm" (ngSubmit)="users.form.valid && onSubmit(users.value)">
            <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="firstName">First Name</label>
                        <div class="input-container">
                            <input type="text" class="form-control" required="true" name="firstName" [(ngModel)]="userData.firstName" #firstName="ngModel"
                            [ngClass]="{ 'is-invalid': users.submitted && firstName.errors }">
                            <div *ngIf="users.submitted && firstName.errors" class="invalid-feedback">
                                <div *ngIf="firstName.errors['required']">First Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="lastName">Last Name</label>
                        <div class="input-container">
                            <input type="text" class="form-control" required="true" required name="lastName" [(ngModel)]="userData.lastName" #lastName="ngModel"
                            [ngClass]="{ 'is-invalid': users.submitted && lastName.errors }">
                            <div *ngIf="users.submitted && lastName.errors" class="invalid-feedback">
                                <div *ngIf="lastName.errors['required']">Last Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="role">Role</label>
                        <div class="input-container">
                            <input type="text" class="form-control" required="true" name="role" [(ngModel)]="userData.role" #role="ngModel"
                            [ngClass]="{ 'is-invalid': users.submitted && role.errors }">
                            <div *ngIf="users.submitted && role.errors" class="invalid-feedback">
                                <div *ngIf="role.errors['required']">Role is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="department">Department</label>
                        <div class="input-container">
                            <input type="text" class="form-control" required="true" name="department" [(ngModel)]="userData.department"
                            [ngClass]="{ 'is-invalid': users.submitted && firstName.errors }">
                            <div *ngIf="users.submitted && firstName.errors" class="invalid-feedback">
                                <div *ngIf="firstName.errors['required']">Department is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="email">Email</label>
                        <div class="input-container">
                            <input type="text" class="form-control" required="true" name="email" [(ngModel)]="userData.email" #email="ngModel"
                            [ngClass]="{ 'is-invalid': users.submitted && email.errors }">
                            <div *ngIf="users.submitted && email.errors" class="invalid-feedback">
                                <div *ngIf="email.errors['required']">Email is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="phone">Phone Number</label>
                        <div class="input-container">
                            <input type="text" class="form-control" required="true" name="phone" [(ngModel)]="userData.phone" #phone="ngModel"
                            [ngClass]="{ 'is-invalid': users.submitted && phone.errors }">
                            <div *ngIf="users.submitted && phone.errors" class="invalid-feedback">
                                <div *ngIf="phone.errors['required']">Phone is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="password">Password</label>
                        <div class="input-container">
                            <input type="password" class="form-control" required="true" name="password" [(ngModel)]="userData.password" #password="ngModel"
                            [ngClass]="{ 'is-invalid': users.submitted && password.errors }">
                            <div *ngIf="users.submitted && password.errors" class="invalid-feedback">
                                <div *ngIf="password.errors['required']">Password is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="conpassword">Confirm Password</label>
                        <div class="input-container">
                            <input type="password" class="form-control" required="true" name="conpassword" [(ngModel)]="userData.conpassword" #conpassword="ngModel"
                            [ngClass]="{ 'is-invalid': users.submitted && conpassword.errors }">
                            <div *ngIf="users.submitted && conpassword.errors" class="invalid-feedback">
                                <div *ngIf="conpassword.errors['required']">Confirm Password is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="address">Address</label>
                        <div class="input-container">
                            <textarea class="form-control" required="true" rows="3" name="address" [(ngModel)]="userData.address" #address="ngModel" [ngClass]="{ 'is-invalid': users.submitted && address.errors }"></textarea>
                            <div *ngIf="users.submitted && address.errors" class="invalid-feedback">
                                <div *ngIf="address.errors['required']">Address is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <div class="d-flex gap-3">
                            <label>Status</label>
                            <span class="custom-toggles">
                                <mat-slide-toggle color="primary"></mat-slide-toggle>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                    <div class="col-md-12">
                        <div class="d-flex gap-4 mt-5 justify-content-center">
                            <a routerLink="/" class="btn btn-light" type="button">Cancel</a>
                            <button  class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>
